@charset "UTF-8";

body  {
    background-color: white;
    color: rgba(0, 0, 0, 1)
}
p {
    text-align: justify;
    text-indent: 50px;

}


/* Formatação de imagens com legendas */

figure.imghm {
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;



}


