@charset "UTF-8";

div#tv-radio {
    width: 900px;
    height: 580px;
    margin: auto;
    background-image:url("C:/Users/Hipopet/Desktop/CURSO DE HTML/projeto-glass-html5/_imagens/radio-tv.png") ;

}

audio#musica {
    display: block;
    position: relative;
    left: 575px;
    top: 485px;
    width: 300px;
}

video#filme {
    display: block;
    position: relative;
    left: 90px;
    top: 95px;
    width: 440px;
}